<strong>Olá, {{ deliveryman }}</strong>
<p>A entrega de uma encomenda foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Horário do cancelamento: </strong> {{ horary }} <br />
  <br />
</p>